.background{
    height: 100vh; /* Full viewport height */
    width: auto; /* Width adjusts proportionally */
    object-fit: cover; /* Cover the container (viewport) */
    object-position: center; /* Center the image horizontally */
    display: block; /* Block to remove inline gaps */
    margin: 0 auto; /* Center the image block */
    z-index: -10;
}
.linkButtonBlock{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff00;
}
.linkButton{
    background-color: #846046;
    color: #fff;
    font-family: lato;
    font-weight: 700;
    font-size: 20px;
    width: calc(100vw - 40px);
    height: 50px;
    border-radius: 34px;
    outline: none;
    border: none;
    text-align: center;
    padding: 13px;
    margin: 10px 0;
}
.bendicionTitle{
    color: #CBCBD4;
    margin: 40px 0;
    font-size: 32px;
    text-align: center;
    font-style: italic;
}
.buttonSend{
    background-color: #846046;
    outline: none;
    border: none;
    height: 38px;
    width: 20%;
    border-radius: 5px;
    font-weight: 700;
    color: #CBCBD4;
}
.inputSend{
    height: 40px;
    width: 75%;
    padding: 0;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 60px;
}
.agradecimientos{
    padding: 5px;
    font: lato;
}
.backButton{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    font-size: 32px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 120;
    border: none;
    outline: none;
    background-color: #fff;
    color: #846046;
    font-weight: 700;
}